<div class="col-md-12">
  <div class="row">
    <table class="table">
      <tr>
        <th>Device</th>
        <% @app.custom_device_properties.each do |param| %><th><%= param.to_s.titleize %></th><% end %>
        <th>Active</th>
      </tr>
      <% @device_tokens.each do |dt| %>
        <tr class="device_token-row">
          <td><%= dt.name %></td>
          <% @app.custom_device_properties.each do |param| %>
            <td><%= truncate(dt.custom_properties[param], :length => 20) %></td>
          <% end %>
          <td><%= dt.is_valid %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div> 