<div class="col-md-12">
  <div class="row">
    <table class="table">
      <tr>
        <th>ID</th>
        <% Notifiable.api_device_token_params.each do |param| %><th><%= param.to_s.titleize %></th><% end %>
        <th>Active</th>
      </tr>
      <% @device_tokens.each do |dt| %>
        <tr class="device_token-row">
          <td><%= dt.id %></td>
          <% Notifiable.api_device_token_params.each do |param| %><td><%= truncate(eval("dt.#{param}"), :length => 50) %></td><% end %>
          <td><%= dt.is_valid %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div> 