<h1><%= @device_token.name %></h1>

<div class="col-md-12">
  <div class="row">
    <table class="table">
      <% @app.custom_device_properties.each do |param| %>
        <tr>
          <td><%= param.to_s.titleize %></td>
          <td><%= @device_token.custom_properties[param] ? truncate(@device_token.custom_properties[param], :length => 20) : "-" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>